
.pink {
    color: rgb(229, 186, 186);
}
body {
    padding-top: 100px;
}
.nav-item{
    padding: 20px;
    font-size: 20px;
}
.card {
    margin: 20px;
}
.image {
    height: 200px;
    width: 285px;
}
.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}
#footer {
    width: 100%;
}
.center {
    text-align: center;
}
#contactForm {
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}
